# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# subdirectories
Velocity-Model/
GMT/Cross_Sections/
Rapid_Model/
Domain/
__pycache__/
gmt.*
.DS_Store
extractVeloModel.sh
generateVeloModel.sh
.idea/


./Velocity-Model
